<div id="<%= dom_id user %>">
  <p>
    <strong>User:</strong>
    <%= user.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= user.surname %>
  </p>

  <p>
    <strong>Patronym:</strong>
    <%= user.patronym %>
  </p>

  <p>
    <strong>Card reader:</strong>
    <%= user.card_reader_id %>
  </p>

</div>
